body {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

span.menu-item {
    font-size: 28px;
}

@media (max-width: 768px) {
    span.menu-container {
        display: none;
    }

    span.menu-container-xs {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) {
    span.menu-container-xs {
        display: none;
    }
}
