body {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

button.add {
    width: 100%;
    height: 100%;
}

i.md-16 {
    font-size: 16px;
}

i.md-24 {
    font-size: 24px;
}

i.md-48 {
    font-size: 48px;
}

i.md-64 {
    font-size: 64px;
}

span.menu-item {
    font-size: 28px;
}

label.editable {
    cursor: pointer;
}

div.field-row {
    margin-bottom: 20px;
}

div.drop-zone {
    width: 100%;
    height: 250px;
    border: 3px dashed darkgrey;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 80px;
    color: darkgrey;
    margin-bottom: 20px;
    z-index: 1000;
    cursor: pointer;
}

div.preview-container {
    width: 100%;
    height: 450px;
    border: 1px solid black;
    overflow-y: scroll;
    border: 3px dashed darkgrey;
    border-radius: 10px;
}

@media (max-width: 768px) {
    span.menu-container {
        display: none;
    }

    span.menu-container-xs {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) {
    span.menu-container-xs {
        display: none;
    }
}
