body {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

button.add {
    width: 100%;
    height: 100%;
}

i.md-48 {
    font-size: 48px;
}

i.md-64 {
    font-size: 64px;
}

span.menu-item {
    font-size: 28px;
}

div.field-row {
    margin-bottom: 20px;
}

div.drop-zone {
    width: 100%;
    height: 250px;
    border: 3px dashed darkgrey;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 80px;
    color: darkgrey;
    margin-bottom: 20px;
    z-index: 1000;
}

div.preview-container {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    overflow-y: scroll;
}

div.preview-thumbnail {
    display: block;
    width: 200px;
    margin: 10px 0px 0px 15px;
    float: left;
}

div.preview-thumbnail:hover {
    cursor: pointer;
}

div.card-img-overlay {
    padding: 10px 0px 0px 0px;
}

p.display-name {
    background: black;
    color: white;
    padding-left: 10px;
    opacity: 0.9;
}

@media (max-width: 768px) {
    span.menu-container {
        display: none;
    }

    span.menu-container-xs {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 769px) {
    span.menu-container-xs {
        display: none;
    }
}
